requests==2.32.3
psycopg2-binary==2.9.9
pandas==1.5.3
apache-airflow==2.9.3
dbt-core==1.7.10
dbt-postgres==1.7.10
# opentelemetry-proto==1.19.0
apache-airflow-providers-celery==3.8.2
apache-airflow-providers-postgres==5.13.0
# celery[redis]=5.2.0
# flower=1.0.0
# textblob